[submodule "SelfDrivingCar/Term1/L10_ConvolutionalNeuralNetworks/LeNetLab/CarND-LeNet-Lab"]
	path = SelfDrivingCar/Term1/L10_ConvolutionalNeuralNetworks/LeNetLab/CarND-LeNet-Lab
	url = https://github.com/udacity/CarND-LeNet-Lab.git
