[submodule "SelfDrivingCar/Term1/L10_ConvolutionalNeuralNetworks/CarND-LeNet-Lab"]
	path = SelfDrivingCar/Term1/L10_ConvolutionalNeuralNetworks/CarND-LeNet-Lab
	url = https://github.com/udacity/CarND-LeNet-Lab.git
[submodule "SelfDrivingCar/Term1/L11_TrafficSignClassifier/CarND-Traffic-Sign-Classifier-Project"]
	path = SelfDrivingCar/Term1/L11_TrafficSignClassifier/CarND-Traffic-Sign-Classifier-Project
	url = https://github.com/udacity/CarND-Traffic-Sign-Classifier-Project
[submodule "SelfDrivingCar/Term1/2_FindingLaneLines/CarND-Term1-Starter-Kit-Test"]
	path = SelfDrivingCar/Term1/2_FindingLaneLines/CarND-Term1-Starter-Kit-Test
	url = https://github.com/udacity/CarND-Term1-Starter-Kit-Test.git
[submodule "SelfDrivingCar/Term1/L8_IntroToTensorFlow/CarND-TensorFlow-Lab"]
	path = SelfDrivingCar/Term1/L8_IntroToTensorFlow/CarND-TensorFlow-Lab
	url = https://github.com/udacity/CarND-TensorFlow-Lab.git
[submodule "SelfDrivingCar/Term1/2_FindingLaneLines/CarND-Term1-Starter-Kit"]
	path = SelfDrivingCar/Term1/2_FindingLaneLines/CarND-Term1-Starter-Kit
	url = https://github.com/udacity/CarND-Term1-Starter-Kit.git
[submodule "SelfDrivingCar/Term1/2_FindingLaneLines/CarND-LaneLines-P1"]
	path = SelfDrivingCar/Term1/2_FindingLaneLines/CarND-LaneLines-P1
	url = https://github.com/udacity/CarND-LaneLines-P1.git
[submodule "SelfDrivingCar/Term1/L13_TransferLearning/CarND-Alexnet-Feature-Extraction"]
	path = SelfDrivingCar/Term1/L13_TransferLearning/CarND-Alexnet-Feature-Extraction
	url = https://github.com/udacity/CarND-Alexnet-Feature-Extraction
[submodule "SelfDrivingCar/Term1/L13_TransferLearning/CarND-Transfer-Learning-Lab"]
	path = SelfDrivingCar/Term1/L13_TransferLearning/CarND-Transfer-Learning-Lab
	url = https://github.com/udacity/CarND-Transfer-Learning-Lab
[submodule "SelfDrivingCar/Term1/L14_BehaviorCloning/AgileTrainer"]
	path = SelfDrivingCar/Term1/L14_BehaviorCloning/AgileTrainer
	url = https://github.com/diyjac/AgileTrainer.git
[submodule "SelfDrivingCar/Term1/L15_AdvancedLaneFinding/CarND-Camera-Calibration"]
	path = SelfDrivingCar/Term1/L15_AdvancedLaneFinding/CarND-Camera-Calibration
	url = https://github.com/udacity/CarND-Camera-Calibration.git
[submodule "SelfDrivingCar/Term1/L15_AdvancedLaneFinding/CarND-Advanced-Lane-Lines"]
	path = SelfDrivingCar/Term1/L15_AdvancedLaneFinding/CarND-Advanced-Lane-Lines
	url = https://github.com/udacity/CarND-Advanced-Lane-Lines.git
[submodule "SelfDrivingCar/Term1/L14_BehaviorCloning/CarND-Behavioral-Cloning-P3"]
	path = SelfDrivingCar/Term1/L14_BehaviorCloning/CarND-Behavioral-Cloning-P3
	url = https://github.com/udacity/CarND-Behavioral-Cloning-P3.git
